################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HEA/HEA/bin/Android/Debug/VSBuildInfo.xml
